
:host{
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto  1fr;
}

.titleContainer{
    grid-area: 1 / 1 / 2 / -1;
    border-bottom: 1px solid white;
    border-radius: 0px;
    padding-bottom: 5px;
    position:relative;
}

.title{
    text-align: center;
}


.mainContainer{
    padding-top: 15px;
    grid-area : 2 / 1 / -1 / 2;
    justify-content:center;
    min-height: 0px;
    overflow-y: auto;


}

.summaryContainer{
    grid-area : 2 / 2 / -1 / -1;
    border-left: 1px solid white;
    border-radius: 0px;
    
}
.displayContainer{
    display: inline-block;
}
.resultDisplay{
    border: 1px solid rgb(116, 116, 116);
    padding: 5px;
}
h2,h1{
    text-align: center;
}