
:host{
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto  1fr;
}

.titleContainer{
    grid-area: 1 / 1 / 2 / -1;
    border-bottom: 1px solid lightgray;
    border-radius: 0px;
    padding-bottom: 5px;
    position:relative;
}

.title{
    text-align: center;
}


.mainContainer{
    padding-top: 15px;
    grid-area : 2 / 1 / -1 / 2;
    justify-content:center;
    min-height: 0px;
    overflow-y: auto;


}

.summaryContainer{
    grid-area : 2 / 2 / -1 / -1;
    border-left: 1px solid lightgray;
    box-shadow: 0px 8px 15px -1px gray;
    border-radius: 0px;
    
}
.displayContainer{
    display: inline-block;
}
.resultDisplay{
    border: 1px solid rgba(128, 128, 128, 0.7);
    box-shadow: 0px 0px 10px 1px gray;
    padding: 5px;
}
h2,h1{
    text-align: center;
}

h1 {
    /* border: 1px solid black; */
    margin: 10px;
    /* box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out; */
}

/* h1:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transform: translateX(60px);
} */